body
{
    margin: 0 0 100px;
    font-family: arial;
    min-width:1067px;
    min-height:500px;
	background-image:url(http://subtlepatterns.com/patterns/greyzz.png);
}

.overlay
{
	z-index: 9998;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.6);
	position:absolute;
}

.close:hover
{
	text-decoration:underline;
}

.close
{	
	cursor:pointer;
	color:blue;
	border:none;
	background-color:transparent;
}

.online
{
	color:green;
}

.offline
{
	color:red;
}

.header
{
	left:0;
	width:auto;
	height:auto;
	font-size:125%;
	color: #E0E0E0;
	font-weight:bold;
	background-color:#606E79;
}

.input_field
{	
	font-size:110%;
	padding:5px;
	border-radius:5px;
	border: 2px solid #f2f2f2;
	border-radius:5px;
}

.login_button
{
	font-size:110%;
	padding:5px;
	border: 1px solid #298A08;
	background-color:#01DF01;
	border-radius:5px;
	color:white;
}

.login_button:hover
{
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1) inset;
}

.control
{
	padding-bottom:10px;
	background-color:white;
	margin-top:30px;
	margin-left:33%;
	margin-right:15%;
	width:33%;
	height:auto;
	border:5px solid #F2F2F2;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.link
{
	color:#343434;
	text-decoration:none;
	margin-top:20px;

}

.action:hover
{
	background-color:#f2f2f2;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1) inset;
}

.action
{	
	border:2px solid grey;
	border-radius: 5px;
	background-color:white;
	margin:20px;
	margin-bottom:20px;
	padding:10px;
	font-size:110%;
}

.img
{
	float:right;
}

.help
{
	padding-bottom:10px;
	z-index: 9999;
	margin-top:30px;
	position: fixed;
	top: 50px;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	background-color:white;
	border:5px solid #F2F2F2;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.contact
{	
	color:black;
	background-color:white;
	text-align:center;
	font-size:125%;
	margin-top:30px;
	padding: 10px 0 10px 0;
	margin-left:33%;
	width:33%;
	float:left;
	height:auto;
	margin-right:5%;
	border:5px solid #F2F2F2;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.error_sign
{
	border:5px solid #F2F2F2;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
	margin-bottom:50px;
	padding: 0 20px 20px;
	width:auto;
	height:auto;
	background-color:white;
	margin-left:20%;
	margin-right:20%;
	margin-top:50px;
}

.ad_info
{
	text-decoration:none;
	color:grey;
	font-size:75%;
	font-weight:none;
	width:100%;
}

.contact:hover
{
	background-color:#f2f2f2;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1) inset;
}